<h1> Name </h1>
<p> Tracy Lam </p>

<h1> Age </h1>
<p> 21 </p>

<h1> Hometown </h1>
<p> Victorville </p>

<h1> Year </h1>
<p> Senior </p>

<h1> Fun Fact </h1>
<p> Avid photographer </p>

<h1> Why I'm Excited </h1>
<p> I want to ultimately build a website to showcase my photography as well as build web applications for myself </p>